/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    p {
        font-family: $regular;
    }
    button {
        padding: 16px 40px;
        border: none;
        outline: none;
        color: white;
        font-size: 16px;
        @include transition(background 0.3s);
        &:hover {
            cursor: pointer;
        }
    }
}
