.titlebanner {
    padding: 105px 0 25px;
    @include breakpoint($lg) {
        padding: 65px 0;
    }
    background-color: $orange;
    &.bgGreen {
        background-color: $green;
    }
    &.bgBlue {
        background-color: $blue;
    }
    &.bgPink {
        background-color: $pink;
    }
    &.bgTeal {
        background-color: $teal;
    }
    &.bgPurple {
        background-color: $purple;
    }
    h1 {
        font-size: 40px;
        @include breakpoint($lg) {
            font-size: 64px;
        }
        font-family: $condensedBold;
        color: $white;
        margin-left: 2%;
        &:after {
            content: "";
            display: block;
            width: 75px;
            height: 7px;
            margin-top: 15px;
            background-color: $white;
        }
    }
}
.content {
    padding: 26px 0;
    @include breakpoint($lg) {
        padding: 60px 0;
    }
    background: $light-grey;
    h1 {
        font-size: 44px;
        color: $green;
        font-family: $condensed;
        margin-bottom: 24px;
    }
    h2 {
        font-size: 31px;
        color: $blue;
        font-family: $condensed;
        margin-bottom: 16px;
    }
    p {
        color: #333;
        font-size: 16px;
        line-height: 1.4;
        strong {
            font-family: $bold;
        }
        em {
            font-family: $italic;
        }
    }
    .side {
        p:first-child {
            padding-top: 20px;
        }
        p {
            padding: 0px 20px 20px;
            background: $teal;
            color: $white;
            margin-bottom: 0;
        }
    }
    ul,
    ol {
        color: #333;
        font-family: $regular;
        font-size: 16px;
        line-height: 1.4;
        margin-left: 2%;
    }
    ol li {
        list-style-type: decimal;
    }
    a {
        color: $green;
        @include transition(color 0.3s);
        &:hover {
            color: $blue;
        }
    }
    .table {
        background: $blue;
        padding: 20px;
        .grid6 {
            margin-bottom: 0;
            &:first-child {
                margin-bottom: 30px;
                @include breakpoint($lg) {
                    margin: 0;
                }
            }
            padding-left: 10px;
            border-left: 1px solid $white;
            h2 {
                color: $white;
            }
            p {
                color: $white;
            }
        }
    }
    img {
        margin: 0 auto;
        max-width: 95%;
        height: auto;
        display: block;
    }
    button {
        text-align: center;
        background: $dark-pink;
        font-family: $light;
        font-size: 16px;
        @include breakpoint($xlg) {
            font-size: 20px;
        }
        padding: 16px 30px;
        &:hover {
            background: $light-teal;
        }
    }
}
.previewFrame {
    .flex-container {
        height: 900px!important;
    }
}
