/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("/fonts/fonts/Roboto-Regular-webfont.eot");
  src: url("/fonts/fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/fonts/Roboto-Regular-webfont.woff") format("woff"), url("/fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("/fonts/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url("/fonts/Roboto-Bold-webfont.eot");
  src: url("/fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Bold-webfont.woff") format("woff"), url("/fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("/fonts/Roboto-Bold-webfont.svg#RobotoBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensed-Regular.eot");
  src: url("/fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoCondensed-Regular.woff") format("woff"), url("/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("/fonts/RobotoCondensed-Regular.svg#RobotoCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensed';
  src: url("/fonts/Roboto-BoldCondensed-webfont.eot");
  src: url("/fonts/Roboto-BoldCondensed-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-BoldCondensed-webfont.woff") format("woff"), url("/fonts/Roboto-BoldCondensed-webfont.ttf") format("truetype"), url("/fonts/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url("/fonts/Roboto-Light-webfont.eot");
  src: url("/fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Light-webfont.woff") format("woff"), url("/fonts/Roboto-Light-webfont.ttf") format("truetype"), url("/fonts/Roboto-Light-webfont.svg#RobotoLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url("/fonts/Roboto-Medium-webfont.eot");
  src: url("/fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Medium-webfont.woff") format("woff"), url("/fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("/fonts/Roboto-Medium-webfont.svg#RobotoMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?wycmvo");
  src: url("/fonts/icomoon.eot?#iefixwycmvo") format("embedded-opentype"), url("/fonts/icomoon.ttf?wycmvo") format("truetype"), url("/fonts/icomoon.woff?wycmvo") format("woff"), url("/fonts/icomoon.svg?wycmvo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* icomoon icons */
/* line 53, ../sass/_typography.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 66, ../sass/_typography.scss */
.icon-cross:before {
  content: "\e601";
}

/* line 69, ../sass/_typography.scss */
.icon-menu:before {
  content: "\e600";
}

/*
COLOURS*/
/*  
FONTS */
/*
MORE */
/* line 8, ../sass/_grid.scss */
.container {
  max-width: 1199px;
  width: 100%;
  margin: 0px auto;
  padding: 0 12.5px 0 12.5px;
  display: block;
}

/* line 24, ../sass/_grid.scss */
.grid1 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid1 {
    width: 6.16514%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid2 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid2 {
    width: 14.33194%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid3 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid3 {
    width: 22.49875%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid4 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid4 {
    width: 30.66555%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid5 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid5 {
    width: 38.83236%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid6 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid6 {
    width: 46.99917%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid7 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid7 {
    width: 55.16597%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid8 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid8 {
    width: 63.33278%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid9 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid9 {
    width: 71.49958%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid10 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid10 {
    width: 79.66639%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid11 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid11 {
    width: 87.83319%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 3, ../sass/_general.scss */
html {
  box-sizing: border-box;
}

/* line 6, ../sass/_general.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 12, ../sass/_general.scss */
body p {
  font-family: "RobotoRegular", sans-serif;
}
/* line 15, ../sass/_general.scss */
body button, body .news #displayBlogStory .blogPost .blogBody a:last-of-type, .news #displayBlogStory .blogPost .blogBody body a:last-of-type {
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 22, ../sass/_general.scss */
body button:hover, body .news #displayBlogStory .blogPost .blogBody a:hover:last-of-type, .news #displayBlogStory .blogPost .blogBody body a:hover:last-of-type {
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.7);
}
/* line 28, ../sass/_general.scss */
body .rainbow {
  background: url(/rainbow.jpg);
  background-size: cover;
  height: 7px;
  width: 100%;
}

/* line 1, ../sass/_nav.scss */
.top-menu, .footer-menu {
  display: none;
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_nav.scss */
  .top-menu, .footer-menu {
    display: inline-block;
    vertical-align: middle;
    width: 54%;
  }
}
/* line 8, ../sass/_nav.scss */
.top-menu ul, .footer-menu ul {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 12, ../sass/_nav.scss */
.top-menu ul li, .footer-menu ul li {
  display: inline-block;
  position: relative;
  padding: 0 1px;
}
/* line 16, ../sass/_nav.scss */
.top-menu ul li a, .footer-menu ul li a {
  color: #555;
  font-family: "RobotoMedium", sans-serif;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}
@media (min-width: 1200px) {
  /* line 16, ../sass/_nav.scss */
  .top-menu ul li a, .footer-menu ul li a {
    font-size: 17px;
  }
}
/* line 26, ../sass/_nav.scss */
.top-menu ul li a.linkActive, .footer-menu ul li a.linkActive {
  color: #b32a57;
}
/* line 29, ../sass/_nav.scss */
.top-menu ul li a:hover, .footer-menu ul li a:hover {
  color: #259474;
}
/* line 33, ../sass/_nav.scss */
.top-menu ul li ul, .footer-menu ul li ul {
  display: none;
}
/* line 36, ../sass/_nav.scss */
.top-menu ul li:hover ul, .footer-menu ul li:hover ul {
  position: absolute;
  display: block;
  width: 100%;
  border: 1px;
  background: #fff;
}
/* line 42, ../sass/_nav.scss */
.top-menu ul li:hover ul li, .footer-menu ul li:hover ul li {
  display: block;
  padding: 0;
}
/* line 47, ../sass/_nav.scss */
.top-menu ul li:after, .footer-menu ul li:after {
  content: "|";
  padding-left: 4px;
  font-size: 22px;
  color: #555;
  font-family: "RobotoMedium", sans-serif;
}
/* line 54, ../sass/_nav.scss */
.top-menu ul li:last-child:after, .footer-menu ul li:last-child:after {
  display: none;
}

/* line 65, ../sass/_nav.scss */
.mobile-menu {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
/* line 72, ../sass/_nav.scss */
.mobile-menu ul {
  display: block;
  text-align: center;
}

/* line 77, ../sass/_nav.scss */
.menu_button {
  z-index: 100;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 50px;
  color: #151515;
  background: none;
  border: none;
  outline: none;
  box-shadow: none !important;
  color: #d36c24;
}
@media (min-width: 1025px) {
  /* line 77, ../sass/_nav.scss */
  .menu_button {
    display: none;
  }
}
/* line 92, ../sass/_nav.scss */
.menu_button:before {
  font-family: 'icomoon';
  content: "\e600";
}
/* line 96, ../sass/_nav.scss */
.menu_button.is-open:before {
  font-family: 'icomoon';
  content: "\e601";
  color: #127a5c;
}

/* line 1, ../sass/_sections.scss */
header {
  position: fixed;
  width: 100%;
  max-height: 80px;
  padding: 0;
  display: block;
  background: #fff;
  z-index: 100;
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_sections.scss */
  header {
    position: relative;
    max-height: 100%;
  }
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_sections.scss */
  header {
    padding: 65px 20px 5px;
  }
}
@media (min-width: 1400px) {
  /* line 1, ../sass/_sections.scss */
  header {
    padding: 60px 26px 5px;
  }
}
/* line 19, ../sass/_sections.scss */
header .topstrip {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #00365c;
  z-index: 100;
  text-align: right;
  padding: 12px 0;
  font-size: 18px;
  color: #fff;
  font-family: "RobotoMedium", sans-serif;
}
@media (min-width: 1025px) {
  /* line 19, ../sass/_sections.scss */
  header .topstrip {
    display: block;
  }
}
@media (min-width: 1200px) {
  /* line 19, ../sass/_sections.scss */
  header .topstrip {
    padding: 16px 0;
    font-size: 21px;
  }
}
/* line 39, ../sass/_sections.scss */
header .topstrip img.mail {
  margin: 0 20px;
}
/* line 42, ../sass/_sections.scss */
header .topstrip .seperate {
  margin: 0 20px;
}
/* line 45, ../sass/_sections.scss */
header .topstrip .light {
  font-family: "RobotoLight", sans-serif;
}
/* line 48, ../sass/_sections.scss */
header .topstrip .email {
  font-size: 20px;
}
/* line 51, ../sass/_sections.scss */
header .topstrip .social {
  margin: 0 32px;
}
/* line 53, ../sass/_sections.scss */
header .topstrip .social a {
  margin: 0 5px;
}
/* line 55, ../sass/_sections.scss */
header .topstrip .social a img {
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 58, ../sass/_sections.scss */
header .topstrip .social a img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 64, ../sass/_sections.scss */
header .topstrip span,
header .topstrip img {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}
/* line 71, ../sass/_sections.scss */
header .logo {
  display: inline-block;
  width: 58%;
  vertical-align: middle;
}
@media (min-width: 1025px) {
  /* line 71, ../sass/_sections.scss */
  header .logo {
    width: 27%;
  }
}
/* line 78, ../sass/_sections.scss */
header .logo img {
  max-width: 300px;
}
@media (min-width: 1025px) {
  /* line 78, ../sass/_sections.scss */
  header .logo img {
    max-width: 100%;
  }
}
/* line 85, ../sass/_sections.scss */
header .buttonwrap {
  display: none;
  width: 40%;
  position: relative;
}
@media (min-width: 1025px) {
  /* line 85, ../sass/_sections.scss */
  header .buttonwrap {
    display: inline-block;
    width: 18%;
  }
}
/* line 93, ../sass/_sections.scss */
header .buttonwrap button, header .buttonwrap .news #displayBlogStory .blogPost .blogBody a:last-of-type, .news #displayBlogStory .blogPost .blogBody header .buttonwrap a:last-of-type {
  text-align: center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #b32a57;
  font-family: "RobotoLight", sans-serif;
  font-size: 16px;
  padding: 16px 40px;
}
@media (min-width: 1200px) {
  /* line 93, ../sass/_sections.scss */
  header .buttonwrap button, header .buttonwrap .news #displayBlogStory .blogPost .blogBody a:last-of-type, .news #displayBlogStory .blogPost .blogBody header .buttonwrap a:last-of-type {
    font-size: 20px;
  }
}
/* line 106, ../sass/_sections.scss */
header .buttonwrap button:hover, header .buttonwrap .news #displayBlogStory .blogPost .blogBody a:hover:last-of-type, .news #displayBlogStory .blogPost .blogBody header .buttonwrap a:hover:last-of-type {
  background: #259474;
}

/* line 112, ../sass/_sections.scss */
.flex-container {
  padding-top: 80px;
}
@media (min-width: 600px) {
  /* line 112, ../sass/_sections.scss */
  .flex-container {
    display: block;
  }
}
@media (min-width: 900px) {
  /* line 112, ../sass/_sections.scss */
  .flex-container {
    padding-top: 0;
  }
}
/* line 121, ../sass/_sections.scss */
.flex-container .flexslider {
  border: none;
}
/* line 123, ../sass/_sections.scss */
.flex-container .flexslider .slides img {
  width: 100%;
}
/* line 127, ../sass/_sections.scss */
.flex-container .flex-direction-nav li a {
  background: none;
  height: 100px;
  width: 100px;
}
@media (min-width: 1025px) {
  /* line 127, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li a {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
/* line 135, ../sass/_sections.scss */
.flex-container .flex-direction-nav li .prev {
  display: none;
  left: 10px;
  background: url("/theme/left.png") no-repeat;
  background-position: center center;
  margin-left: 0;
}
@media (min-width: 900px) {
  /* line 135, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .prev {
    display: block;
  }
}
/* line 145, ../sass/_sections.scss */
.flex-container .flex-direction-nav li .next {
  display: none;
  right: 10px;
  background: url("/theme/right.png") no-repeat;
  background-position: center center;
  margin-right: 0;
}
@media (min-width: 900px) {
  /* line 145, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .next {
    display: block;
  }
}
/* line 155, ../sass/_sections.scss */
.flex-container p.flex-caption {
  display: none;
  width: 66%;
  max-width: 790px;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: none;
  bottom: inherit;
  font-size: 34px;
  line-height: 1.2;
  font-family: "RobotoCondensed", sans-serif;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.7);
}
@media (min-width: 600px) {
  /* line 155, ../sass/_sections.scss */
  .flex-container p.flex-caption {
    display: block;
  }
}
@media (min-width: 900px) {
  /* line 155, ../sass/_sections.scss */
  .flex-container p.flex-caption {
    font-size: 38px;
  }
}
@media (min-width: 1025px) {
  /* line 155, ../sass/_sections.scss */
  .flex-container p.flex-caption {
    font-size: 48px;
  }
}
/* line 178, ../sass/_sections.scss */
.flex-container p.flex-caption strong {
  font-family: "RobotoBoldCondensed", sans-serif;
}
/* line 181, ../sass/_sections.scss */
.flex-container p.flex-caption button, .flex-container p.flex-caption .news #displayBlogStory .blogPost .blogBody a:last-of-type, .news #displayBlogStory .blogPost .blogBody .flex-container p.flex-caption a:last-of-type {
  padding: 13px 20px;
  margin-top: 18px;
  font-size: 17px;
  background: #259474;
  font-family: "RobotoMedium", sans-serif;
}
@media (min-width: 1200px) {
  /* line 181, ../sass/_sections.scss */
  .flex-container p.flex-caption button, .flex-container p.flex-caption .news #displayBlogStory .blogPost .blogBody a:last-of-type, .news #displayBlogStory .blogPost .blogBody .flex-container p.flex-caption a:last-of-type {
    padding: 28px 70px;
  }
}
@media (min-width: 1025px) {
  /* line 181, ../sass/_sections.scss */
  .flex-container p.flex-caption button, .flex-container p.flex-caption .news #displayBlogStory .blogPost .blogBody a:last-of-type, .news #displayBlogStory .blogPost .blogBody .flex-container p.flex-caption a:last-of-type {
    margin-top: 45px;
    font-size: 20px;
  }
}
/* line 194, ../sass/_sections.scss */
.flex-container p.flex-caption button:hover, .flex-container p.flex-caption .news #displayBlogStory .blogPost .blogBody a:hover:last-of-type, .news #displayBlogStory .blogPost .blogBody .flex-container p.flex-caption a:hover:last-of-type {
  background: #b32a57;
}

/* line 200, ../sass/_sections.scss */
.text-section {
  background: #f7f6f6;
  padding: 10px 0;
}
@media (min-width: 600px) {
  /* line 200, ../sass/_sections.scss */
  .text-section {
    padding: 55px 0;
  }
}
/* line 206, ../sass/_sections.scss */
.text-section .icon-holder {
  text-align: center;
  padding-bottom: 26px;
}
/* line 209, ../sass/_sections.scss */
.text-section .icon-holder img {
  width: 48px;
  height: 48px;
}
/* line 214, ../sass/_sections.scss */
.text-section .text {
  font-size: 20px;
  color: #5f5f5f;
  text-align: center;
  line-height: 1.4;
}

/* line 221, ../sass/_sections.scss */
.five-boxes {
  font-size: 0;
}
/* line 223, ../sass/_sections.scss */
.five-boxes .box {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "RobotoCondensed", sans-serif;
  font-size: 18px;
  padding: 30px 10px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  transition: background 0.6s;
  width: 100%;
}
@media (min-width: 900px) {
  /* line 223, ../sass/_sections.scss */
  .five-boxes .box {
    font-size: 26px;
    padding: 60px 20px;
  }
}
/* line 237, ../sass/_sections.scss */
.five-boxes .box img {
  margin-bottom: 20px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
}
@media (min-width: 900px) {
  /* line 237, ../sass/_sections.scss */
  .five-boxes .box img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* line 246, ../sass/_sections.scss */
.five-boxes .box:hover img {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
@media (min-width: 900px) {
  /* line 246, ../sass/_sections.scss */
  .five-boxes .box:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/* line 254, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(1) {
  background: #b32a57;
}
@media (min-width: 600px) {
  /* line 254, ../sass/_sections.scss */
  .five-boxes .box:nth-of-type(1) {
    width: 33.33%;
  }
}
/* line 259, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(1):hover {
  background: #127a5c;
}
/* line 263, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(2) {
  background: #d36c24;
}
@media (min-width: 600px) {
  /* line 263, ../sass/_sections.scss */
  .five-boxes .box:nth-of-type(2) {
    width: 33.33%;
  }
}
/* line 268, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(2):hover {
  background: #382a6c;
}
/* line 272, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(3) {
  background: #a0b13e;
}
@media (min-width: 600px) {
  /* line 272, ../sass/_sections.scss */
  .five-boxes .box:nth-of-type(3) {
    width: 33.33%;
  }
}
/* line 277, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(3):hover {
  background: #b32a57;
}
/* line 281, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(4) {
  background: #127a5c;
}
@media (min-width: 600px) {
  /* line 281, ../sass/_sections.scss */
  .five-boxes .box:nth-of-type(4) {
    width: 50%;
  }
}
/* line 286, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(4):hover {
  background: #d36c24;
}
/* line 290, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(5) {
  background: #382a6c;
}
@media (min-width: 600px) {
  /* line 290, ../sass/_sections.scss */
  .five-boxes .box:nth-of-type(5) {
    width: 50%;
  }
}
/* line 295, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(5):hover {
  background: #a0b13e;
}
@media (min-width: 1025px) {
  /* line 223, ../sass/_sections.scss */
  .five-boxes .box {
    width: 20% !important;
  }
}

/* line 305, ../sass/_sections.scss */
.news {
  text-align: center;
  background: #f7f6f6;
  padding: 40px 10px 10px 10px;
}
@media (min-width: 600px) {
  /* line 305, ../sass/_sections.scss */
  .news {
    text-align: left;
  }
}
@media (min-width: 1025px) {
  /* line 305, ../sass/_sections.scss */
  .news {
    padding: 40px 80px 40px 40px;
  }
}
@media (min-width: 1200px) {
  /* line 305, ../sass/_sections.scss */
  .news {
    padding: 80px;
  }
}
/* line 318, ../sass/_sections.scss */
.news #displayBlogStory {
  display: inline-block;
  width: 100%;
}
@media (min-width: 600px) {
  /* line 318, ../sass/_sections.scss */
  .news #displayBlogStory {
    height: 180px;
  }
}
@media (min-width: 600px) {
  /* line 318, ../sass/_sections.scss */
  .news #displayBlogStory {
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  /* line 318, ../sass/_sections.scss */
  .news #displayBlogStory {
    width: 49%;
    padding-right: 100px;
  }
}
/* line 331, ../sass/_sections.scss */
.news #displayBlogStory .blogPost {
  position: relative;
  margin-bottom: 30px;
}
@media (min-width: 600px) {
  /* line 331, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost {
    height: 160px;
  }
}
@media (min-width: 1025px) {
  /* line 331, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost {
    height: 160px;
  }
}
/* line 340, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogSummaryImage {
  border: 1px solid #555;
  display: none;
}
@media (min-width: 600px) {
  /* line 340, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost .blogSummaryImage {
    display: block;
    position: absolute;
    top: 5%;
    left: 5%;
    bottom: 5%;
    width: 27%;
  }
}
/* line 352, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogBody {
  font-family: "RobotoCondensed", sans-serif;
  line-height: 1.4;
  font-size: 15px;
  color: #333;
  width: 100%;
  left: 0;
}
@media (min-width: 600px) {
  /* line 352, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost .blogBody {
    bottom: 45%;
    left: 34%;
    width: 66%;
    position: absolute;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
  }
}
@media (min-width: 1025px) {
  /* line 352, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost .blogBody {
    width: 70%;
  }
}
/* line 369, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogBody a:last-of-type {
  background: #c2c2c2;
  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333 !important;
  font-family: "RobotoBold", sans-serif;
  display: inline-block;
}
@media (min-width: 600px) {
  /* line 369, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost .blogBody a:last-of-type {
    top: 28px;
    position: relative;
    display: inline;
  }
}
/* line 384, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogBody a:last-of-type:hover {
  background: #127a5c;
}
/* line 389, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogTitle {
  left: 0;
  margin-bottom: 5px;
}
@media (min-width: 600px) {
  /* line 389, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost .blogTitle {
    width: 80%;
  }
}
@media (min-width: 600px) {
  /* line 389, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost .blogTitle {
    left: 34%;
    top: 10px;
    width: 66%;
    position: absolute;
  }
}
@media (min-width: 1025px) {
  /* line 389, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost .blogTitle {
    width: 80%;
  }
}
/* line 404, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogTitle a {
  color: #333;
  font-family: "RobotoBoldCondensed", sans-serif;
  text-decoration: none;
  font-size: 20px;
}
/* line 411, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogDate {
  display: none;
}
/* line 414, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogSummaryImageBottom {
  display: none;
}

/* line 420, ../sass/_sections.scss */
.training {
  padding: 65px 0;
  background-image: url(/docs.jpg);
  background-size: cover;
  position: relative;
}
/* line 425, ../sass/_sections.scss */
.training h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "RobotoCondensed", sans-serif;
  font-size: 30px;
}
/* line 430, ../sass/_sections.scss */
.training h1 strong {
  font-family: "RobotoBoldCondensed", sans-serif;
}
/* line 434, ../sass/_sections.scss */
.training .bluewrap {
  position: absolute;
  background: #00365c;
  opacity: 0.66;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
/* line 444, ../sass/_sections.scss */
.training .container {
  color: #fff;
  z-index: 2;
  position: relative;
  font-family: "RobotoMedium", sans-serif;
  text-align: center;
}
/* line 451, ../sass/_sections.scss */
.training .container ul li {
  text-align: center;
  display: inline-block;
  width: 45%;
  vertical-align: top;
  font-size: 16px;
  margin-bottom: 40px;
  padding-right: 30px;
}
@media (min-width: 600px) {
  /* line 451, ../sass/_sections.scss */
  .training .container ul li {
    font-size: 18px;
    white-space: nowrap;
    text-align: left;
    min-width: 380px;
    width: 33%;
    vertical-align: middle;
  }
}
/* line 467, ../sass/_sections.scss */
.training .container ul li:before {
  content: "";
  background: url(/people.png);
  background-size: contain;
  display: block;
  margin: 0 auto 10px;
  height: 40px;
  width: 40px;
}
@media (min-width: 600px) {
  /* line 467, ../sass/_sections.scss */
  .training .container ul li:before {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0 18px 0 0;
    position: relative;
    top: 14px;
  }
}
/* line 486, ../sass/_sections.scss */
.training .container button, .training .container .news #displayBlogStory .blogPost .blogBody a:last-of-type, .news #displayBlogStory .blogPost .blogBody .training .container a:last-of-type {
  background: transparent;
  padding: 15px 25px;
  border: 2px solid #fff;
  margin-top: 30px;
  font-family: "RobotoMedium", sans-serif;
  font-size: 16px;
}
/* line 493, ../sass/_sections.scss */
.training .container button:hover, .training .container .news #displayBlogStory .blogPost .blogBody a:hover:last-of-type, .news #displayBlogStory .blogPost .blogBody .training .container a:hover:last-of-type {
  background: rgba(3, 3, 5, 0.2);
}

/* line 499, ../sass/_sections.scss */
.details {
  font-size: 0;
}
/* line 501, ../sass/_sections.scss */
.details .detail-box {
  padding: 50px 66px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
@media (min-width: 1025px) {
  /* line 501, ../sass/_sections.scss */
  .details .detail-box {
    width: 33%;
  }
}
/* line 510, ../sass/_sections.scss */
.details .detail-box h1 {
  font-family: "RobotoBoldCondensed", sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
}
/* line 514, ../sass/_sections.scss */
.details .detail-box h1 img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 521, ../sass/_sections.scss */
.details .twitter {
  color: #333;
}
/* line 523, ../sass/_sections.scss */
.details .twitter #twitterBox {
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
/* line 527, ../sass/_sections.scss */
.details .twitter #twitterBox ul li {
  margin-bottom: 30px;
}
/* line 529, ../sass/_sections.scss */
.details .twitter #twitterBox ul li .user {
  display: inline-block;
}
/* line 532, ../sass/_sections.scss */
.details .twitter #twitterBox ul li .user a span {
  display: none;
}
/* line 537, ../sass/_sections.scss */
.details .twitter #twitterBox ul li .tweet {
  display: inline-block;
  width: 75%;
  padding-left: 6px;
}
/* line 541, ../sass/_sections.scss */
.details .twitter #twitterBox ul li .tweet a {
  color: #00365c;
  text-decoration: none;
}
/* line 546, ../sass/_sections.scss */
.details .twitter #twitterBox ul li .timePosted {
  margin-left: 52px;
  font-size: 12px;
  color: #333;
}
/* line 551, ../sass/_sections.scss */
.details .twitter #twitterBox ul li .interact {
  display: none;
}
/* line 557, ../sass/_sections.scss */
.details .contact {
  background: #259474;
  color: #fff;
  font-size: 0;
  text-align: left;
}
/* line 562, ../sass/_sections.scss */
.details .contact ul {
  text-align: left;
  display: inline-block;
  width: 50%;
  min-width: 180px;
  max-width: 300px;
  vertical-align: top;
  margin-bottom: 18px;
}
/* line 570, ../sass/_sections.scss */
.details .contact ul li {
  line-height: 2;
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  white-space: nowrap;
}
/* line 575, ../sass/_sections.scss */
.details .contact ul li a img {
  margin: 10px 10px 0 0;
}
/* line 581, ../sass/_sections.scss */
.details .map {
  position: relative;
  padding: 33%;
}
@media (min-width: 600px) {
  /* line 581, ../sass/_sections.scss */
  .details .map {
    padding: 20%;
  }
}
@media (min-width: 1025px) {
  /* line 581, ../sass/_sections.scss */
  .details .map {
    padding: 8%;
  }
}
/* line 590, ../sass/_sections.scss */
.details .map .acf-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* line 601, ../sass/_sections.scss */
footer .logo img {
  max-width: 100%;
}
@media (min-width: 1025px) {
  /* line 600, ../sass/_sections.scss */
  footer .logo {
    display: inline-block;
    width: 26%;
    vertical-align: middle;
  }
}
/* line 610, ../sass/_sections.scss */
footer .terms {
  margin: 0 0 10px 30px;
}
@media (min-width: 1025px) {
  /* line 610, ../sass/_sections.scss */
  footer .terms {
    display: inline-block;
    width: 19%;
    text-align: center;
    margin: 0;
  }
}
/* line 618, ../sass/_sections.scss */
footer .terms a {
  font-family: "RobotoMedium", sans-serif;
  color: #333;
  text-decoration: none;
}
/* line 624, ../sass/_sections.scss */
footer .copyright {
  width: 100%;
  padding: 16px 0;
  text-align: right;
  color: #fff;
  padding-right: 20px;
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  background: #363636;
}
/* line 633, ../sass/_sections.scss */
footer .copyright a {
  text-decoration: none;
  color: #fff;
}
