/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("/fonts/fonts/Roboto-Regular-webfont.eot");
  src: url("/fonts/fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/fonts/Roboto-Regular-webfont.woff") format("woff"), url("/fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("/fonts/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url("/fonts/Roboto-Bold-webfont.eot");
  src: url("/fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Bold-webfont.woff") format("woff"), url("/fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("/fonts/Roboto-Bold-webfont.svg#RobotoBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensed-Regular.eot");
  src: url("/fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoCondensed-Regular.woff") format("woff"), url("/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("/fonts/RobotoCondensed-Regular.svg#RobotoCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensed';
  src: url("/fonts/Roboto-BoldCondensed-webfont.eot");
  src: url("/fonts/Roboto-BoldCondensed-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-BoldCondensed-webfont.woff") format("woff"), url("/fonts/Roboto-BoldCondensed-webfont.ttf") format("truetype"), url("/fonts/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url("/fonts/Roboto-Light-webfont.eot");
  src: url("/fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Light-webfont.woff") format("woff"), url("/fonts/Roboto-Light-webfont.ttf") format("truetype"), url("/fonts/Roboto-Light-webfont.svg#RobotoLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url("/fonts/Roboto-Medium-webfont.eot");
  src: url("/fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Medium-webfont.woff") format("woff"), url("/fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("/fonts/Roboto-Medium-webfont.svg#RobotoMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?wycmvo");
  src: url("/fonts/icomoon.eot?#iefixwycmvo") format("embedded-opentype"), url("/fonts/icomoon.ttf?wycmvo") format("truetype"), url("/fonts/icomoon.woff?wycmvo") format("woff"), url("/fonts/icomoon.svg?wycmvo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* icomoon icons */
/* line 53, ../sass/_typography.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 66, ../sass/_typography.scss */
.icon-cross:before {
  content: "\e601";
}

/* line 69, ../sass/_typography.scss */
.icon-menu:before {
  content: "\e600";
}

/*
COLOURS*/
/*  
FONTS */
/*
MORE */
/* line 8, ../sass/_grid.scss */
.container {
  max-width: 1199px;
  width: 100%;
  margin: 0px auto;
  padding: 0 12.5px 0 12.5px;
  display: block;
}

/* line 24, ../sass/_grid.scss */
.grid1 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid1 {
    width: 6.16514%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid2 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid2 {
    width: 14.33194%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid3 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid3 {
    width: 22.49875%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid4 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid4 {
    width: 30.66555%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid5 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid5 {
    width: 38.83236%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid6 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid6 {
    width: 46.99917%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid7 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid7 {
    width: 55.16597%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid8 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid8 {
    width: 63.33278%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid9 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid9 {
    width: 71.49958%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid10 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid10 {
    width: 79.66639%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid11 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid11 {
    width: 87.83319%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 3, ../sass/_general.scss */
html {
  box-sizing: border-box;
}

/* line 6, ../sass/_general.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 12, ../sass/_general.scss */
body p {
  font-family: "RobotoRegular", sans-serif;
}
/* line 15, ../sass/_general.scss */
body button, body .news #displayBlogStory .blogPost .blogBody a:last-of-type, .news #displayBlogStory .blogPost .blogBody body a:last-of-type {
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 22, ../sass/_general.scss */
body button:hover, body .news #displayBlogStory .blogPost .blogBody a:hover:last-of-type, .news #displayBlogStory .blogPost .blogBody body a:hover:last-of-type {
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.7);
}

/* line 1, ../sass/_nav.scss */
.top-menu {
  display: none;
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_nav.scss */
  .top-menu {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
  }
}
/* line 8, ../sass/_nav.scss */
.top-menu ul {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 12, ../sass/_nav.scss */
.top-menu ul li {
  display: inline-block;
  position: relative;
  padding: 0 1px;
}
/* line 16, ../sass/_nav.scss */
.top-menu ul li a {
  color: #555;
  font-family: "RobotoMedium", sans-serif;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 23, ../sass/_nav.scss */
.top-menu ul li a.linkActive {
  color: #b32a57;
}
/* line 26, ../sass/_nav.scss */
.top-menu ul li a:hover {
  color: #259474;
}
/* line 30, ../sass/_nav.scss */
.top-menu ul li ul {
  display: none;
}
/* line 33, ../sass/_nav.scss */
.top-menu ul li:hover ul {
  position: absolute;
  display: block;
  width: 100%;
  border: 1px;
  background: #fff;
}
/* line 39, ../sass/_nav.scss */
.top-menu ul li:hover ul li {
  display: block;
  padding: 0;
}
/* line 44, ../sass/_nav.scss */
.top-menu ul li:after {
  content: "|";
  padding-left: 4px;
  font-size: 22px;
  color: #555;
  font-family: "RobotoMedium", sans-serif;
}
/* line 51, ../sass/_nav.scss */
.top-menu ul li:last-child:after {
  display: none;
}

/* line 57, ../sass/_nav.scss */
.mobile-menu {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
/* line 64, ../sass/_nav.scss */
.mobile-menu ul {
  display: block;
  text-align: center;
}

/* line 69, ../sass/_nav.scss */
.menu_button {
  z-index: 11;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: #151515;
  background: none;
  border: none;
  outline: none;
}
@media (min-width: 1025px) {
  /* line 69, ../sass/_nav.scss */
  .menu_button {
    display: none;
  }
}
/* line 82, ../sass/_nav.scss */
.menu_button:before {
  font-family: 'icomoon';
  content: "\e600";
}
/* line 86, ../sass/_nav.scss */
.menu_button.is-open:before {
  font-family: 'icomoon';
  content: "\e601";
}

/* line 1, ../sass/_sections.scss */
header {
  padding: 60px 56px 5px;
  display: block;
  position: relative;
  z-index: 100;
}
/* line 6, ../sass/_sections.scss */
header .topstrip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #00365c;
  z-index: 100;
  text-align: right;
  padding: 16px 0;
  color: #fff;
  font-family: "RobotoMedium", sans-serif;
  font-size: 23px;
}
/* line 18, ../sass/_sections.scss */
header .topstrip img.mail {
  margin: 0 20px;
}
/* line 21, ../sass/_sections.scss */
header .topstrip .seperate {
  margin: 0 20px;
}
/* line 24, ../sass/_sections.scss */
header .topstrip .light {
  font-family: "RobotoLight", sans-serif;
}
/* line 27, ../sass/_sections.scss */
header .topstrip .email {
  font-size: 20px;
}
/* line 30, ../sass/_sections.scss */
header .topstrip .social {
  margin: 0 50px;
}
/* line 32, ../sass/_sections.scss */
header .topstrip .social a {
  margin: 0 5px;
}
/* line 34, ../sass/_sections.scss */
header .topstrip .social a img {
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 37, ../sass/_sections.scss */
header .topstrip .social a img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 43, ../sass/_sections.scss */
header .topstrip span,
header .topstrip img {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}
/* line 50, ../sass/_sections.scss */
header .logo {
  display: inline-block;
  width: 35%;
  vertical-align: middle;
}
/* line 54, ../sass/_sections.scss */
header .logo img {
  max-width: 100%;
}
/* line 58, ../sass/_sections.scss */
header .buttonwrap {
  display: inline-block;
  width: 18%;
  position: relative;
}
/* line 62, ../sass/_sections.scss */
header .buttonwrap button, header .buttonwrap .news #displayBlogStory .blogPost .blogBody a:last-of-type, .news #displayBlogStory .blogPost .blogBody header .buttonwrap a:last-of-type {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #b32a57;
  font-family: "RobotoLight", sans-serif;
  font-size: 20px;
  padding: 16px 40px;
}
/* line 71, ../sass/_sections.scss */
header .buttonwrap button:hover, header .buttonwrap .news #displayBlogStory .blogPost .blogBody a:hover:last-of-type, .news #displayBlogStory .blogPost .blogBody header .buttonwrap a:hover:last-of-type {
  background: #259474;
}

/* line 78, ../sass/_sections.scss */
.flex-container .flexslider {
  border: none;
}
/* line 80, ../sass/_sections.scss */
.flex-container .flexslider .slides img {
  width: 100%;
}
/* line 84, ../sass/_sections.scss */
.flex-container .flex-direction-nav li a {
  background: none;
  height: 100px;
  width: 100px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 90, ../sass/_sections.scss */
.flex-container .flex-direction-nav li .prev {
  display: none;
  left: 10px;
  background: url("/theme/left.png") no-repeat;
  background-position: center center;
  margin-left: 0;
}
@media (min-width: 325px) {
  /* line 90, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .prev {
    display: block;
  }
}
@media (min-width: 900px) {
  /* line 90, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .prev {
    margin-left: 1%;
  }
}
/* line 103, ../sass/_sections.scss */
.flex-container .flex-direction-nav li .next {
  display: none;
  right: 10px;
  background: url("/theme/right.png") no-repeat;
  background-position: center center;
  margin-right: 0;
}
@media (min-width: 325px) {
  /* line 103, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .next {
    display: block;
  }
}
@media (min-width: 900px) {
  /* line 103, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .next {
    margin-right: 1%;
  }
}
/* line 116, ../sass/_sections.scss */
.flex-container p.flex-caption {
  display: none;
  width: 66%;
  max-width: 790px;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: none;
  bottom: inherit;
  font-size: 48px;
  line-height: 1.2;
  font-family: "RobotoCondensed", sans-serif;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.7);
}
@media (min-width: 325px) {
  /* line 116, ../sass/_sections.scss */
  .flex-container p.flex-caption {
    display: block;
  }
}
/* line 133, ../sass/_sections.scss */
.flex-container p.flex-caption strong {
  font-family: "RobotoBoldCondensed", sans-serif;
}
/* line 136, ../sass/_sections.scss */
.flex-container p.flex-caption button, .flex-container p.flex-caption .news #displayBlogStory .blogPost .blogBody a:last-of-type, .news #displayBlogStory .blogPost .blogBody .flex-container p.flex-caption a:last-of-type {
  padding: 28px 70px;
  margin-top: 45px;
  background: #259474;
  font-family: "RobotoMedium", sans-serif;
  font-size: 20px;
}
/* line 142, ../sass/_sections.scss */
.flex-container p.flex-caption button:hover, .flex-container p.flex-caption .news #displayBlogStory .blogPost .blogBody a:hover:last-of-type, .news #displayBlogStory .blogPost .blogBody .flex-container p.flex-caption a:hover:last-of-type {
  background: #b32a57;
}

/* line 148, ../sass/_sections.scss */
.text-section {
  background: #f7f6f6;
  padding: 55px 0;
}
/* line 151, ../sass/_sections.scss */
.text-section .icon-holder {
  text-align: center;
  padding-bottom: 26px;
}
/* line 154, ../sass/_sections.scss */
.text-section .icon-holder img {
  width: 48px;
  height: 48px;
}
/* line 159, ../sass/_sections.scss */
.text-section .text {
  font-size: 20px;
  color: #5f5f5f;
  text-align: center;
  line-height: 1.4;
}

/* line 166, ../sass/_sections.scss */
.five-boxes {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 169, ../sass/_sections.scss */
.five-boxes .box {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 20%;
  text-decoration: none;
  min-width: 200px;
  padding: 60px 20px;
  color: #fff;
  text-align: center;
  font-family: "RobotoCondensed", sans-serif;
  font-size: 26px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  transition: background 0.6s;
}
/* line 180, ../sass/_sections.scss */
.five-boxes .box img {
  margin-bottom: 20px;
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
}
/* line 185, ../sass/_sections.scss */
.five-boxes .box:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 189, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(1) {
  background: #b32a57;
}
/* line 191, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(1):hover {
  background: #127a5c;
}
/* line 195, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(2) {
  background: #d36c24;
}
/* line 197, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(2):hover {
  background: #382a6c;
}
/* line 201, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(3) {
  background: #a0b13e;
}
/* line 203, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(3):hover {
  background: #b32a57;
}
/* line 207, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(4) {
  background: #127a5c;
}
/* line 209, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(4):hover {
  background: #d36c24;
}
/* line 213, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(5) {
  background: #382a6c;
}
/* line 215, ../sass/_sections.scss */
.five-boxes .box:nth-of-type(5):hover {
  background: #a0b13e;
}

/* line 221, ../sass/_sections.scss */
.news {
  padding: 10px;
}
/* line 223, ../sass/_sections.scss */
.news #displayBlogStory {
  display: inline-block;
  width: 100%;
  height: 240px;
}
@media (min-width: 600px) {
  /* line 223, ../sass/_sections.scss */
  .news #displayBlogStory {
    height: 160px;
  }
}
@media (min-width: 600px) {
  /* line 223, ../sass/_sections.scss */
  .news #displayBlogStory {
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  /* line 223, ../sass/_sections.scss */
  .news #displayBlogStory {
    width: 49%;
    padding-right: 100px;
  }
}
/* line 238, ../sass/_sections.scss */
.news #displayBlogStory .blogPost {
  position: relative;
  margin-bottom: 30px;
  height: 200px;
}
@media (min-width: 600px) {
  /* line 238, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost {
    height: 160px;
  }
}
@media (min-width: 1025px) {
  /* line 238, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost {
    height: 160px;
  }
}
/* line 248, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogSummaryImage {
  position: absolute;
  top: 5%;
  left: 5%;
  bottom: 5%;
  width: 27%;
  border: 1px solid #555;
  display: none;
}
@media (min-width: 600px) {
  /* line 248, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost .blogSummaryImage {
    display: block;
  }
}
/* line 260, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogBody {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 50%;
  font-family: "RobotoCondensed", sans-serif;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}
@media (min-width: 600px) {
  /* line 260, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost .blogBody {
    left: 34%;
    width: 80%;
  }
}
/* line 271, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogBody a:last-of-type {
  position: relative;
  top: 28px;
  background: #c2c2c2;
  padding: 10px 20px;
  text-decoration: none;
  color: #333 !important;
  font-family: "RobotoBold", sans-serif;
}
/* line 280, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogBody a:last-of-type:hover {
  background: #127a5c;
}
/* line 285, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogTitle {
  width: 80%;
  position: absolute;
  left: 0;
}
@media (min-width: 600px) {
  /* line 285, ../sass/_sections.scss */
  .news #displayBlogStory .blogPost .blogTitle {
    left: 34%;
    top: 10px;
  }
}
/* line 293, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogTitle a {
  color: #333;
  font-family: "RobotoBoldCondensed", sans-serif;
  text-decoration: none;
  font-size: 20px;
}
/* line 300, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogDate {
  display: none;
}
/* line 303, ../sass/_sections.scss */
.news #displayBlogStory .blogPost .blogSummaryImageBottom {
  display: none;
}
